
ipch/*
Client/Client.opensdf
Client/Client.sdf
Client/Obj/*
Client/ipch/*
Client/SkyNet/obj/*
Server/Obj/*
*.opensdf
Client/Bin/*
Client/Src/SkyrimOnline/Tester/*log
Client/Src/SkyrimOnline/Debug/*log
*.pdb
*.lastbuildstate
*.unsuccessfulbuild
Client/Src/SkyrimOnlineProxy/Tester/*log
Obj/Server/Debug/*log
Server/Bin/*
Test_Sharp/obj/*
SkyNet/bin/*
SkyNet.sdf
SkyNet.sdf
Test_Sharp/bin/*
SkyNet/obj/*
Server/*log
Test_PlusPlus/Release/*