
Client/Client.opensdf
Client/ipch/skyrimonline-95aab5bb/skyrimonline-6490cf11.ipch
*.obj
*.exp
Client/Bin/SkyrimOnline.asi
*.sdf
*.tlog
Client/Obj/*
Server/Obj/*
*.ipch
*.suo
Server/Bin/*
*.opensdf
Server/Server.suo
Client/Bin/SkyrimOnlineProxy.dll
Server/Server.suo
*.class
*JNI.h
Server/SOScript/dist/Script.dll
Server/SOScript/dist/SOScript.jar
*.log
*.orig
SampleLauncher/obj/*
SkyNet/bin/*
SkyNet/obj/*
SkyNet_Client/obj/*
Test_Sharp/obj/*